#accueil {
  background-color: #faf2e9;
  font-family: "Gistesy", "Roboto", sans-serif;
  height: auto;
  margin-top: 200px;
}

.banner {
  background-image: url("../../assets/images/accueil-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 900px;
  &-title {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 40%;
    right: 5%;
    & h1 {
      letter-spacing: 10px;
    }
  }
}
